{% extends "layout.html" %}

{% block content %}
    <div style="margin-top: 120px">
        <h2></h2>
    </div>
    <div class="box" style="width: 60%; margin: 20px auto;">
    <article class="panel is-primary">
        <p class="panel-heading" style="margin: 5px;">
          <strong style="color: blue;">Team: TrashPandaWorks</strong>
        </p>
        <p class="panel-heading" style="margin: 5px;">
            <strong></strong>Motto: One person's trash is another person's training data.</strong>
          </p>
    </article>
    <article class="message">
        <div class="message-header" style="margin: 5px;">
          <p>Christoper Augustine</p>
        </div>
        <div class="message-header" style="margin: 5px;">
            <p>Kevin Liao</p>
        </div>
        <div class="message-header" style="margin: 5px;">
            <p>Joseph Liotta</p>
        </div>
        <div class="message-header" style="margin: 5px;">
            <p>Kristina Montoya</p>
        </div>
        <div class="message-body">
          Team Lockheed Martin solving today's problems!
        </div>
      </article>
      </div>

{% endblock %}